.huddle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 1300px;
  height: 800px;
  gap: 10rem;

  .grid-item-1 {
    grid-column: span 2;
  }

  .grid-item-2 {
  }

  .grid-item-3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-family: var(--font-poppins), sans-serif;

      font-weight: 600;
      font-size: 4rem;
    }

    button {
      font-family: var(--font-poppins), sans-serif;
      font-size: 1.8rem;
      align-self: flex-start;
      padding: 1.4rem 6.2rem;
      border-radius: 20rem;
      border: none;
      box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.18);
      color: var(--color-violet);
      cursor: pointer;

      &:hover {
        background-color: var(--color-magenta);
        color: #fff;
      }
    }
  }

  .grid-item-4 {
    grid-column: span 2;
    // align-self: end;
    justify-self: end;
    margin-top: -4rem;
    display: flex;
    gap: 1.8rem;

    i {
      height: 20px;
      width: 20px;
      border: 1.9px solid white;
      font-size: 18px;
      padding: 18px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
