@use "base";

// Remove default link styles
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

// Main grid wrapper
.huddle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 24% 52% 24%;
  width: 130rem;
  height: 80rem;
  column-gap: 5.4rem;
  margin-left: 0.5rem;

  @include base.breakPoint(base.$bp-laptop) {
    grid-template-columns: 60% 40%;
    grid-template-rows: 18% 60% 22%;

    width: 145rem;
    column-gap: 3rem;
    margin-left: -2.4rem;
  }

  @include base.breakPoint(base.$bp-phone) {
    flex-direction: column;
    grid-template-columns: 90dvw;
    grid-template-rows: 15% 32% 33% 20%;
    justify-content: center;
    width: 100dvw;
    height: auto;
    grid-auto-rows: 150px;
  }

  // Logo
  .grid-item-1-logo {
    grid-column: span 2;
    margin-top: 4.7rem;
    margin-left: -2.9rem;

    img {
      transform: scale(81%);
    }

    @include base.breakPoint(base.$bp-laptop) {
      margin-top: -2rem;
      margin-left: 1rem;
    }

    @include base.breakPoint(base.$bp-phone) {
      grid-column: span 1;
      margin-top: 2rem;
      margin-left: -5.9rem;
      text-align: left;

      img {
        transform: scale(61%);
      }
    }
  }

  // Main left side image
  .grid-item-2-image {
    margin-top: 0.1rem;

    @include base.breakPoint(base.$bp-laptop) {
      margin-top: 0;
      margin-left: 0;

      img {
        transform: scale(90%);
      }
    }

    @include base.breakPoint(base.$bp-phone) {
      img {
        width: 95%;
        height: 95%;
        object-fit: contain;
        display: block;
      }
    }
  }

  // Main right side details
  .grid-item-3-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4.4rem;
    margin-right: 2rem;

    @include base.breakPoint(base.$bp-laptop) {
      margin-top: 8.4rem;

      h2 {
        padding-right: 3rem;
      }

      p {
        padding-right: 1rem;
      }
    }

    h2 {
      font-family: var(--font-poppins), sans-serif;

      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -0.2px;
    }

    p {
      line-height: 1.5;
    }

    button {
      font-family: var(--font-poppins), sans-serif;
      font-size: 1.8rem;
      align-self: flex-start;
      padding: 1.4rem 6.2rem;
      border-radius: 20rem;
      border: none;
      box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.18);
      color: var(--color-violet);
      cursor: pointer;
      margin-top: 0.5rem;
      background-color: #fff;

      &:hover {
        background-color: var(--color-magenta);
        color: #fff;
      }
    }

    @include base.breakPoint(base.$bp-phone) {
      padding: 1.9rem;

      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1.9rem;
      }

      button {
        padding: 1.4rem 8.8rem;
      }
    }
  }

  // Social media icons
  .grid-item-4-icons {
    grid-column: span 2;
    justify-self: end;
    align-self: center;
    margin-top: -4rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 6.9rem;
    margin-right: 1.4rem;

    @include base.breakPoint(base.$bp-laptop) {
      margin-top: 27rem;
      margin-right: 4.4rem;
    }

    @include base.breakPoint(base.$bp-phone) {
      grid-column: span 1;
      grid-row: span 2;
      justify-self: center;
      margin-top: -8rem;
    }

    li {
      list-style: none;
    }

    i {
      height: 20px;
      width: 20px;
      border: 1.9px solid white;
      font-size: 19px;
      padding: 19px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: var(--color-magenta);
        border: 1.9px solid var(--color-magenta);
      }
    }
  }
}
