// Remove default link styles
a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

// Main grid wrapper
.huddle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 24% 52% 24%;
  width: 1300px;
  height: 800px;
  column-gap: 5.4rem;
  margin-left: 0.5rem;

  // Logo
  .grid-item-1-logo {
    grid-column: span 2;
    margin-top: 4.7rem;
    margin-left: -2.9rem;

    img {
      transform: scale(81%);
    }
  }

  // Main left side image
  .grid-item-2-image {
  }

  // Main right side details
  .grid-item-3-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4.4rem;
    margin-right: 2rem;

    h2 {
      font-family: var(--font-poppins), sans-serif;

      font-weight: 600;
      font-size: 4rem;
      letter-spacing: -0.2px;
    }

    p {
      line-height: 1.5;
    }

    button {
      font-family: var(--font-poppins), sans-serif;
      font-size: 1.8rem;
      align-self: flex-start;
      padding: 1.4rem 6.2rem;
      border-radius: 20rem;
      border: none;
      box-shadow: 0.2rem 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.18);
      color: var(--color-violet);
      cursor: pointer;
      margin-top: 0.5rem;
      background-color: #fff;

      &:hover {
        background-color: var(--color-magenta);
        color: #fff;
      }
    }
  }

  // Social media icons
  .grid-item-4-icons {
    grid-column: span 2;
    justify-self: end;
    align-self: center;
    margin-top: -4rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 6.9rem;
    margin-right: 1.4rem;

    li {
      list-style: none;
    }

    i {
      height: 20px;
      width: 20px;
      border: 1.9px solid white;
      font-size: 19px;
      padding: 19px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:hover {
        color: var(--color-magenta);
        border: 1.9px solid var(--color-magenta);
      }
    }
  }
}
