// Footer
.attribution {
  font-size: 11px;
  text-align: left;
  position: absolute;
  bottom: 4rem;
  left: 13rem;

  @media only screen and (max-width: 950px) {
    bottom: 4rem;
  }

  @media only screen and (max-width: 400px) {
    position: static;
  }

  @media only screen and (max-height: 700px) {
    bottom: 0;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
